@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins); /* Use font variable from layout */
}

sup {
  @apply text-[#FF4A4A];
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  @apply hidden;
}

.scroll-snap-start {
  scroll-snap-align: start;
}

.scroll-snap-type-mandatory {
  scroll-snap-type: x mandatory;
}